@model List<CarSystemProjectAdmin.Models.Car>

@{
    ViewBag.Title = "SoldCars";
}
<br />
@Html.Partial("_AdminPartial")

<div class="text-center">
    <h3>Sold Cars</h3>
</div>
<div class="container">
    <table class="table table-responsive table-hover">
        <tr>
            <th>Car No</th>
            <th>Car Image</th>
            <th>Car Name</th>
            <th>Car Model</th>
            <th>Car Year</th>
            <th>Car Type</th>
            <th>Car Owners</th>
            <th>User ID</th>
            <th>Add Car</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Verify</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarNo</td>
                <td>@item.CarImage</td>
                <td>@item.CarName</td>
                <td>@item.CarModel</td>

                <td>@item.CarYear</td>
                <td>@item.CarType</td>
                <td>@item.NoOfOwners</td>
                <td>@item.CarUid</td>
                <td>
                    <button type="button" class="btn btn-success">Add Car</button>

                </td>

                <td>
                    <button type="button" class="btn btn-primary">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success">Verify</button>
                </td>

            </tr>
        }

    </table>
</div>


