@if (Session["Email"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("hello " + Session["Email"], "UserHome", "Account")</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
    </ul>
    <ul class="nav navbar-nav  nav-tabs" style="margin-left:4px;">
        <li>@Html.ActionLink("Home ", "UserHome", "Account")</li>
        <li>@Html.ActionLink("Sell Car", "SellCar", "Account")</li>
        <li>@Html.ActionLink("Buy Car", "BuyCar", "Account")</li>

    </ul>
}


