@if (Session["Email"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Welcome, " + Session["Email"] , "UserHome", "Account")</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
    </ul>
    <ul class="nav navbar-nav " style="margin-left:4px;">
        <li>@Html.ActionLink("Home ", "UserHome", "Account")</li>
      

    </ul>
}


